
.header a {
    color: aquamarine;
    text-decoration: none;
}

.cart-item {
    display: flex;
    margin-top: 20px;
    background-color: #222;
    padding: 10px;
}

.cart-item img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.cart-item div {
    margin-left: 20px;
}

table {
    color: white;
    margin-top: 10px;
}

table td {
    padding: 5px;
}

.summary {
    text-align: right;
    margin-top: 20px;
}

.buy-button {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 20px;
}
